$color_a: #fdb40b
$color_b: #01193c
$color_c: #a59fa7
$color_d: #ffffff
    
html
    margin: 0
    padding: 0
    scroll-behavior: smooth

body
    margin: 0
    padding: 0
    color: $color-c
    background-color: $color-d
    font-family: 'Raleway', sans-serif


.wrapper-img
    margin: 0
    padding: 0
    display: flex
    align-items: center
    justify-content: center

    img
        margin: 0
        padding: 0
        width: 100%
        height: 100%

p
    font-size: 18px

    &.small
        font-size: 16px

.hide
    display: none !important

a
    text-decoration: none
    color: $color_a

.regular-width
    max-width: 1200px
    margin: 0 auto

.full-width
    max-width: 100%
    margin: 0 auto

h1, h2, h3, h4, h5, h6, .title
    font-family: 'Squada One', cursive
    color: $color-b

h1
    color: $color-a
    font-size: 55px

h2
    font-size: 40px

h3
    font-size: 30px

*:focus
    outline: none

.paralax
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 600px

main > section.regular-width
    margin-top: 100px