html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: #798289;
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #fbc14e;
}

.regular-width {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .regular-width {
    margin: 0 50px;
    width: calc(100% - 100px);
  }
}

.full-width {
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "Squada One", cursive;
  color: #01193c;
}

h1 {
  color: #fbc14e;
  font-size: 55px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

*:focus {
  outline: none;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

main > section.regular-width {
  margin-top: 70px;
}

.text-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.text-image img {
  width: 60%;
}
.text-image .text {
  width: 35%;
}
@media screen and (max-width: 1000px) {
  .text-image img {
    width: 70%;
  }
  .text-image .text {
    width: 25%;
  }
}
@media screen and (max-width: 700px) {
  .text-image {
    flex-direction: column;
  }
  .text-image img {
    width: 100%;
  }
  .text-image .text {
    width: 100%;
  }
}

.btn {
  display: inline-block;
  transition-duration: 0.5s;
}
.btn.cta {
  padding: 10px 30px;
  background-color: #fbc14e;
  color: #ffffff;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 5px 2px 15px -1px rgba(251, 193, 78, 0.35);
}
.btn.cta:hover {
  box-shadow: 5px 2px 15px -1px #fbc14e;
  transform: translateY(-5px);
}

header.regular-width {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  position: relative;
}
header.regular-width button {
  display: none;
}
header.regular-width nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header.regular-width nav ul li {
  list-style: none;
  margin-left: 10px;
}
header.regular-width nav ul li a {
  padding: 10px;
  color: #798289;
  transition-duration: 0.5s;
  display: inline-block;
}
header.regular-width nav ul li a:hover {
  color: #fbc14e;
}
@media screen and (max-width: 1200px) {
  header.regular-width {
    flex-direction: column;
    margin: 0;
  }
}
@media screen and (max-width: 1000px) {
  header.regular-width {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    width: calc(100% - 200px);
  }
  header.regular-width button {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: none;
    border: none;
  }
  header.regular-width button img {
    width: 100%;
    height: auto;
  }
  header.regular-width nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 50px;
    padding-top: 30px;
    height: 200vh;
    transition-duration: 0.5s;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 5px 2px 15px -1px rgba(0, 0, 0, 0.35);
  }
  header.regular-width nav.collapsed {
    right: -250px;
  }
  header.regular-width nav ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  header.regular-width nav ul li {
    margin: 0;
    padding: 0;
  }
  header.regular-width nav ul li a {
    padding: 20px 0;
    font-size: 20px;
  }
}

#about-us {
  margin-top: 30px;
}

#our-services h2 {
  text-align: center;
}
#our-services .cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
#our-services .cards .card {
  width: 250px;
  padding: 50px 30px;
  height: 320px;
  text-align: center;
  margin: 20px;
  border-radius: 20px;
  transition-duration: 0.5s;
}
#our-services .cards .card:hover {
  box-shadow: 5px 5px 19px -3px rgba(0, 0, 0, 0.5058823529);
}
#our-services .cards .card a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#our-services .cards .card a img {
  width: 50px;
  height: 50px;
}
#our-services .cards .card a p {
  color: #01193c;
}
#our-services .cards .card a p.link {
  color: #fbc14e;
  transition-duration: 0.2s;
  font-weight: bold;
  border-bottom: 2px solid rgba(251, 193, 78, 0);
}
#our-services .cards .card a:hover p.link {
  border-bottom: 2px solid #fbc14e;
}
@media screen and (max-width: 750px) {
  #our-services .cards {
    flex-direction: column;
  }
  #our-services .cards .card {
    width: 80%;
    height: auto;
    padding: 20px 40px;
  }
  #our-services .cards .card:nth-child(2) {
    box-shadow: 5px 5px 19px -3px rgba(0, 0, 0, 0.5058823529);
  }
  #our-services .cards .card:hover {
    box-shadow: none;
  }
  #our-services .cards .card a {
    flex-direction: row;
    justify-content: space-between;
  }
  #our-services .cards .card a img {
    width: 100px;
    height: auto;
  }
  #our-services .cards .card a .text {
    width: calc(100% - 120px);
  }
  #our-services .cards .card a:hover p.link {
    border: none;
  }
}
@media screen and (max-width: 500px) {
  #our-services .cards .card {
    width: 95%;
  }
}
@media screen and (max-width: 400px) {
  #our-services .cards .card {
    width: auto;
  }
  #our-services .cards .card a {
    flex-direction: column;
  }
  #our-services .cards .card a .text {
    width: 100%;
  }
}

#our-work {
  display: flex;
  align-items: center;
  justify-content: center;
}
#our-work .text {
  width: calc(100% - 400px);
}
#our-work .numbers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 400px;
}
#our-work .numbers .number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}
#our-work .numbers .number:nth-child(1), #our-work .numbers .number:nth-child(3) {
  margin-top: -30px;
}
#our-work .numbers .number.circle {
  border: 2px dashed #fbc14e;
  box-shadow: 5px 5px 20px -7px rgba(0, 0, 0, 0.462745098);
}
#our-work .numbers .number img {
  width: 40px;
  height: 40px;
}
#our-work .numbers .number h3 {
  color: #fbc14e;
  margin: 0;
  margin: 10px 0;
}
#our-work .numbers .number p {
  margin: 0;
}
@media screen and (max-width: 700px) {
  #our-work {
    flex-direction: column;
  }
  #our-work .text {
    width: 100%;
    text-align: center;
  }
  #our-work .numbers {
    margin-top: 30px;
  }
}
@media screen and (max-width: 450px) {
  #our-work .numbers {
    width: 320px;
  }
  #our-work .numbers .number {
    width: 160px;
    height: 160px;
  }
  #our-work .numbers .number p {
    font-size: 14px;
  }
}

#what-you-gain li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}
#what-you-gain li img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
#what-you-gain li p, #what-you-gain li a {
  margin: 0;
}
#what-you-gain li a {
  color: #fbc14e;
}
#what-you-gain li a:hover {
  color: #01193c;
}
@media screen and (max-width: 1000px) {
  #what-you-gain ul {
    padding: 0;
  }
  #what-you-gain ul li img {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  #what-you-gain ul {
    padding-left: 40px;
  }
  #what-you-gain ul li img {
    display: inline-block;
  }
}

#testimonials h2 {
  text-align: center;
}
#testimonials .splide {
  width: 100%;
  height: 400px;
}
#testimonials .splide .splide__slide {
  background-color: rgba(121, 130, 137, 0.1);
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
#testimonials .splide .splide__slide img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 800px) {
  #testimonials .splide {
    height: 200px;
  }
  #testimonials .splide .splide__slide {
    height: 200px;
  }
}

#package h1, #package h2 {
  text-align: center;
}
#package h2 {
  margin-top: 100px;
}
#package .cards {
  display: grid;
  justify-content: center;
}
#package .cards.website {
  grid-template-columns: repeat(4, 300px);
}
#package .cards.branding {
  grid-template-columns: repeat(3, 350px);
}
#package .cards.seo {
  grid-template-columns: repeat(3, 300px);
}
#package .cards .card {
  width: calc(100% - 60px);
  padding: 50px 30px;
  height: auto;
  text-align: center;
  margin: 0;
  border-radius: 5px;
  border: 2px dashed rgba(251, 193, 78, 0);
  transition-duration: 0.5s;
  position: relative;
  padding-bottom: 140px;
}
#package .cards .card:hover {
  box-shadow: 5px 5px 19px -3px rgba(0, 0, 0, 0.5058823529);
  border: 2px dashed #fbc14e;
}
#package .cards .card a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#package .cards .card a img {
  width: 50px;
  height: 50px;
}
#package .cards .card a p {
  color: #01193c;
}
#package .cards .card a ul {
  text-align: left;
  color: #798289;
}
#package .cards .card a p.price {
  font-size: 30px;
  color: #fbc14e;
  margin: 0;
}
#package .cards .card a .price-cta {
  position: absolute;
  bottom: 20px;
}
@media screen and (max-width: 1100px) {
  #package .cards.website {
    grid-template-columns: repeat(2, 300px);
  }
}
@media screen and (max-width: 1000px) {
  #package .cards.website {
    grid-template-columns: repeat(1, auto);
  }
  #package .cards.branding {
    grid-template-columns: repeat(1, auto);
  }
  #package .cards.seo {
    grid-template-columns: repeat(1, auto);
  }
  #package .cards .card {
    max-width: 300px;
    margin-top: 40px;
  }
  #package .cards .card:nth-child(even) {
    box-shadow: 5px 5px 19px -3px rgba(0, 0, 0, 0.5058823529);
  }
}

#contact h2 {
  text-align: center;
}
#contact form input, #contact form textarea {
  border: none;
  background: none;
  border-radius: 20px;
  box-shadow: 5px 4px 12px -2px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-size: 18px;
  padding: 10px 30px;
  width: calc(100% - 60px);
  box-sizing: content-box;
  margin-top: 20px;
  border: 2px solid rgba(251, 193, 78, 0);
  transition-duration: 0.5s;
}
#contact form input:focus, #contact form textarea:focus {
  outline: none;
  border: 2px solid #fbc14e;
}
#contact form .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact form .name input {
  width: calc(48% - 60px);
}
#contact form input[type=submit] {
  width: 120px;
  background-color: #fbc14e;
}
#contact form textarea {
  height: 150px;
  resize: none;
}
@media screen and (max-width: 1000px) {
  #contact img {
    width: 50%;
  }
  #contact .text {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  #contact {
    flex-direction: column;
  }
  #contact img {
    width: 100%;
  }
  #contact .text {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  #contact form .name {
    flex-direction: column;
  }
  #contact form .name input {
    width: calc(100% - 60px);
  }
}

footer {
  background-color: #01193c;
  color: #fbc14e;
  margin-top: 30px;
}
footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .content small {
  line-height: 35px;
  margin: 0;
}
footer .content .icons {
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .content .icons a {
  margin: 0;
  padding: 0;
  height: 100%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
footer .content .icons a:hover {
  opacity: 0.7;
}
footer .content .icons a img {
  height: 100%;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
@media screen and (max-width: 1200px) {
  footer .content {
    width: calc(100% - 100px);
  }
}
@media screen and (max-width: 500px) {
  footer .content {
    flex-direction: column;
    height: 100px;
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
